WCF_SinhVien/Connected Services/ServiceReference1/SVService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SVService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SVService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SinhVien">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoTen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDSV" type="xs:int" />
      <xs:element minOccurs="0" name="Tuoi" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SinhVien" nillable="true" type="tns:SinhVien" />
  <xs:complexType name="ArrayOfKhoa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Khoa" nillable="true" type="tns:Khoa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKhoa" nillable="true" type="tns:ArrayOfKhoa" />
  <xs:complexType name="Khoa">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DienThoai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDMaKhoa" type="xs:int" />
      <xs:element minOccurs="0" name="TenKhoa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Khoa" nillable="true" type="tns:Khoa" />
  <xs:complexType name="ArrayOfSinhVien">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SinhVien" nillable="true" type="tns:SinhVien" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSinhVien" nillable="true" type="tns:ArrayOfSinhVien" />
</xs:schema>