WindowsForms/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SVService.Entity" />
  <xs:element name="InsertBH">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="bh" nillable="true" type="q1:BanHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBHResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBH">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="bh" nillable="true" type="q2:BanHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBHResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBH">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="bh" nillable="true" type="q3:BanHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBHResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBH">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="GetAllBHResult" nillable="true" type="q4:ArrayOfBanHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKH">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="kh" nillable="true" type="q5:KhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertKHResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKH">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="kh" nillable="true" type="q6:KhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKHResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKH">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="kh" nillable="true" type="q7:KhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKHResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllKH">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllKHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="GetAllKHResult" nillable="true" type="q8:ArrayOfKhachHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNCC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="ncc" nillable="true" type="q9:NhaCungCap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNCCResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNCC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="ncc" nillable="true" type="q10:NhaCungCap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNCCResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNCC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="ncc" nillable="true" type="q11:NhaCungCap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNCCResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNCC">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNCCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="GetAllNCCResult" nillable="true" type="q12:ArrayOfNhaCungCap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SVService.Entity" minOccurs="0" name="nv" nillable="true" type="q13:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNVResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SVService.Entity" minOccurs="0" name="nv" nillable="true" type="q14:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNVResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SVService.Entity" minOccurs="0" name="nv" nillable="true" type="q15:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNVResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNV">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SVService.Entity" minOccurs="0" name="GetAllNVResult" nillable="true" type="q16:ArrayOfNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="nsp" nillable="true" type="q17:NhapSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNSPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="nsp" nillable="true" type="q18:NhapSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNSPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="nsp" nillable="true" type="q19:NhapSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNSPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNSP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNSPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="GetAllNSPResult" nillable="true" type="q20:ArrayOfNhapSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="sp" nillable="true" type="q21:SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="sp" nillable="true" type="q22:SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="sp" nillable="true" type="q23:SanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSP">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="GetAllSPResult" nillable="true" type="q24:ArrayOfSanPham" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTK">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="tk" nillable="true" type="q25:TaiKhoan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTKResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTK">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="tk" nillable="true" type="q26:TaiKhoan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTKResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTK">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="tk" nillable="true" type="q27:TaiKhoan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTKResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTK">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WCF_Service.Entity" minOccurs="0" name="GetAllTKResult" nillable="true" type="q28:ArrayOfTaiKhoan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>