WindowsForms/Connected Services/ServiceReference1/WcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TaiKhoan">
    <xs:sequence>
      <xs:element minOccurs="0" name="CV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenTK" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaiKhoan" nillable="true" type="tns:TaiKhoan" />
</xs:schema>